body {
  overflow: hidden;
  margin: 0 auto;
}
.page-wrapper {
  
  width: 100vw;
  height: 100vh;
  background-color: rgb(72, 191, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.input-wrapper {
  width: 40vw;
  height: 20vh;
  background-color: rgb(86, 207, 225);
  border-radius: 5px;
  box-shadow: 0px 0px 56px 1px rgb(128, 255, 219,0.75);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.input-wrapper:hover {
  box-shadow: 0px 0px 56px 1px rgba(105, 48, 195,0.75);
}
input {
  margin-left: 10px;
  background-color: rgba(253, 253, 253, 0.4);
  border: 1px solid rgba(77, 39, 76, 0.75);
  color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
}
label {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 700;
}

.price {
  border: 1px solid grey;
  border-radius: 5px;
  width: 40%;
  height: 10%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px;
  font-weight: 700;
}

.fa-solid {
  border: 1px solid grey;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  text-align: center;
}
.fa-solid:hover {
    transform: rotate(90deg);
    transition: 0.5s;
}

.fa-solid:active {
  border: 2px solid grey;
}